<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diventi.eldia"
    android:versionCode="4"
    android:versionName="1.2.1"
     >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:icon="@drawable/icon"
        android:label="El Dia"
        android:name="com.diventi.mobipaper.MobiPaperApp" >
        <activity
            android:name="com.diventi.mobipaper.HomeActivity"
            android:screenOrientation="portrait"
            android:label="El Dia" 
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.diventi.mobipaper.article.ArticleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            />

		<activity android:name="com.diventi.mobipaper.gallery.GalleryActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            />
		
		<activity android:name="com.diventi.mobipaper.classified.ClassifiedActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            />
		
    </application>

</manifest>
